@{
    ViewData["Title"] = "Home Page";
}

<table id="example" class="display" style="width:100%">
    <thead>
        <tr><th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>Country</th>
            <th>City</th>
        </tr>
    </thead>
</table>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "ajax": {
                    "url": "/Home/GetData",
                    "type": "GET",
                    "datatype": "json",
                },
                "columns": [
                    { "data": "id" },
                    { "data": "firstName" },
                    { "data": "lastName" },
                    { "data": "email" },
                    { "data": "country" },
                    { "data": "city" }
                ]
            });
        });
    </script>

}
